#Jumbotron{
    height: calc(100% - 250px);
    width: calc(100% - 100px);
    background: url("./images/jumbo.jpg") no-repeat;
    background-size: cover;
    border-radius: 3rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.Title{
    position: absolute;
    top: 7rem;
    left: 8rem;
}

.Title h1{
    color:white;
    font-size: 5rem;
}

.options{
    background-color: white;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    position: absolute;
    bottom: -3rem;
    box-shadow: 0 -7px 30px rgb(57 63 72 / 30%);
    display: flex;
    align-items: center;
}

.options div{
    display: inline-block;
    padding: 0 5rem;
}

.options div p{
    font-size: .9rem;
    padding-top: .7rem;
}

.location, .activity{
    border-right: solid 0.1rem #00000017;
}

.search{
    vertical-align: middle;
}