#Jumbotron{
    height: calc(100% - 100px);
    width: calc(100% - 100px);
    background: url("./images/jumbo.jpg") no-repeat;
    background-size: cover;
    border-radius: 3rem;
    position: relative;
    top: -2rem;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.Title{
    position: absolute;
    top: 5rem;
    left: 6rem;
}

.Title h1{
    color:white;
    font-size: 5rem;
}

.options{
    color: #130f26;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    position: absolute;
    bottom: -3rem;
    box-shadow: 4px 4px 8px rgb(0 0 0 / 7%);
    display: flex;
    align-items: center;
}

.options div{
    display: inline-block;
    padding: .5rem 5rem;
}

.options h3{
    font-size: 1.5rem;
    font-weight: 600;
}

.options div p{
    color: #a1a0a9;
    font-size: .9rem;
    font-weight: 400;
    padding-top: .7rem;
}

.location, .activity{
    border-right: solid 0.1rem #00000017;
}

.search{
    vertical-align: middle;
}

